@media screen and (min-width: 1440px) {
	#author {
		max-width: 280px;
	}
}

@media screen and (max-width: 1439px) {
	#author {
		border-left: none;
		border-right: none;
		border-bottom: none;
		border-radius: 0em;
		box-shadow: none;
	}
}
