#today > div{
	margin-left: 0em;
	margin-right: 0em;
}

#today {
	margin-top: -1em;
}

.today-context {
	height: 800px;
	padding: 0em;
	overflow: hidden;
}

.today-context {
	padding: 0rem !important;
}

.height-fluid.image {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.today-type {
	font-size: 5em;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 800px;
	text-shadow: 0px 0px 30px #000;
}

.content {
	height: 100%;
	width: 100%;
	box-sizing: content-box;
}

.today-type2 > div {
	text-shadow: 0px 0px 30px #000;
}

.today-type2 {
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 100%;
	width: 100%;
	position: relative;
	text-shadow: 0px 0px 30px #000;
}

.today-type.left {
	background-image: url(/static/img/hdw.gif);
	background-repeat: repeat;
	background-position: center;
}

.today-type.right {
	background-image: url(/static/img/dcna.gif);
	background-repeat: repeat;
	background-position: center;
}

.today-type2.left {
	background-image: url(/static/img/hdw2.gif);
	background-repeat: repeat;
	background-position: center;
}

.today-type2.right {
	background-image: url(/static/img/dcna2.gif);
	background-repeat: repeat;
	background-position: center;
}

.visible.content {
	display: block;
	width: 100% !important;
}

#left-hidden {
	text-align: right;
}

.ng-divider {
	width: 1.5em;
	line-height: 1.5em;
	position: absolute;
	top: 316px;
	white-space: normal;
}

.div-line {
	width: 1px;
	height: 227px;
	border: solid 1px black;
	position: absolute;
	box-sizing: border-box;
}

#left-hidden .ng-divider {
	right: 1em;
}

#right-hidden .ng-divider {
	left: 1em;
}

.words {
	margin: 0em !important;
	position: absolute !important;
	text-shadow: none !important;
	white-space: normal;
	max-width: 60%;
}

.words p {
	max-width: 100%;
}

.words.left {
	right: 5.5em !important;
}

.words.right {
	left: 5.5em !important;
}

.history-button {
	position: absolute;
	bottom: 50px;
	z-index: 10;
}

.history-button.left {
	right: 5.5rem;
}

.history-button.right {
	left: 5.5rem;
}

@media only screen and (max-width: 767px) {
	.ng-divider {
		top: 302px !important;
	}
}
