<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title> {{=it.title}} </title>
		<!-- css -->
			<link href="/static/semantic/semantic.min.css" rel="stylesheet" type="text/css" />
			<link href="/static/css/base.css" rel="stylesheet" type="text/css" />
			{{	if (it.header){		}}
			<link href="/static/css/header.css" rel="stylesheet" type="text/css" />
			{{	}					}}
			{{	if (it.error || it.info){		}}
			<link href="/static/css/message.css" rel="stylesheet" type="text/css" />
			{{	}								}}
		<!-- css -->
		<!-- js -->
			<script language="javascript" type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
			<script language="javascript" type="text/javascript" src="/static/semantic/semantic.min.js"></script>

			{{	if (it.error || it.info){		}}
			<script language="javascript" type="text/javascript" src="/static/js/message-handle.js"></script>
			{{	}								}}

			{{	if (it.header){		}}
			<script language="javascript" type="text/javascript" src="/static/js/header-handle.js"></script>
			{{	}					}}

			<script language="javascript" type="text/javascript">
				$(document).ready(function() {
					$('.ui.dropdown').dropdown({on: 'hover'});
				});
			</script>
		<!-- js -->

	</head>
	<body>
		{{	if (it.header){	}}
		{{		=it.header	}}
		{{	}				}}
	
	<div class="ui container">

		<div class="ui row">
			<div class="ui text container segment"
				style="border:none; box-shadow:none; padding: 0em; margin: 0em;">

				{{	if (it.error || it.info){	}}
				<div> <div class="ui left rail" id="message">
					<div>
						{{	if (it.error){	}}
						{{		=it.error	}}
						{{	}				}}
						{{	if (it.info){	}}
						{{		=it.info	}}
						{{	}				}}
					</div>
				</div> </div>
				{{							}	}}

			</div>
		</div>

	</div>

	{{	if (it.content){	}}
	{{		=it.content		}}
	{{	}					}}

	{{	if (it.bottom){	}}
	{{		=it.bottom	}}
	{{	}				}}

	</body>
</html>
