<div class="ui inverted vertical footer segment">
	<div class="ui center aligned text container">
		<h4 class="ui horizontal inverted divider">
			USELESS FOOTER
		</h4>
		<div class="ui Huge hedaer">
			There is a footer, because I believe there should be one.
		</div>
	</div>
</div>
