{{	if (it && it.length > 0) {	}}

	<div class="ui positive floating message">
		<i class="close icon"></i>
		<div class="header">
			{{=it.length}} Message(s):
		</div>
		<ul class="list">
			{{	for (var x in it) {	}}
					<li> {{=it[x]}} </li>
			{{	}							}}
		</ul>
	</div>

{{										}	}}
