<link href="/static/css/not-found.css" rel="stylesheet" type="text/css" />

<div class="ui fluid container" id="not-found">
	
	<div id="img-container">
		<div class="ui centered inverted header" id="error-code"> 404 </div>
		<img class="blur" src="/static/img/shit.jpg"/>
	</div>

</div>

<script language="javascript" type="text/javascript" src="/static/js/not-found.js">
</script>
