<link href="/static/css/tweet-history.css" rel="stylesheet" type="text/css" />

<div>

<div class="ui centered header" id="history-header"> 以物喜 以己悲 </div>

<div class="ui text container" id="history">
</div>

</div>

<script language="javascript" type="text/javascript" src="/static/js/tweet-history.js"></script>
